@import "tailwindcss";

@theme {
  /* --color-background: #101010;
  --color-bar1: #202020;
  --color-bar2: #151515;
  --color-bar-border: #252525;

  --color-failure: #bf365a;
  --color-ternary: #ffcc4a;
  --color-secondary: #53bac9;
  --color-success: #57c27d;
  --color-error: #d64036;
  --color-accent2: #d97b45;
  --color-accent1: #436bd9;
  --color-primary: #8262d5;
  --color-accent3: #cc6c6c; */

  --color-background: #151515;
  --color-bar1: #202020;
  --color-bar2: #1a1a1a;
  --color-bar-border: #2c2c2c;
  --color-box: #202020;
  --color-box-border: #2c2c2c;

  --color-failure: #bf365a;
  --color-ternary: #ffcc4a;
  --color-secondary: #53bac9;
  --color-success: #57c27d;
  --color-error: #d64036;
  --color-accent2: #d97b45;
  --color-accent1: #436bd9;
  --color-primary: #8570ee;
  --color-primary-l1: #927cf3;
  --color-accent3: #cc6c6c;
}

.input-placeholder::placeholder {
  /* Placeholder style for all browsers */
  color: var(--color-gray-500);
  opacity: 1;
}

@custom-variant hover (&:hover);
